body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 700;

  font-size: 13px;
  text-align: center;
  background: white;
}

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;

}
ul li {

  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #ddd;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #62bfad;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li {
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

#logo {
  width: 10%;
padding-right: 45px;
}

a{
  text-decoration: none;
  color: black;
}
#salebanner {
  width:100%;
}

#gend{
  padding-right: 75px;
  padding-top:100px;

}

#add{
  padding-left: 45%;
  margin-top:-30%
}

#brand{
  width:100%;
  padding-top: 100px;
}

#brandone{
  padding-top: 100px;
}

#footer{
  padding-top:150px;
  padding-bottom:100px;
  background: #ddd;
  margin-top: 25px;
}
#nav{
  background: #ddd;
}
#logo{
  padding:25px;
}

#title{
  padding-right: 90%;
  padding-top:50px;
}

#product{
  padding-top:65px;
  padding-right: 75%;
}

.empty{
    padding: 65px;
}
.brand{
  padding:65px;
}

#video{
  padding: 65px;
}

.space{
  padding:20px;
}
#social{
  padding:15px;
}
